<h2>Liste des articles : </h2>
<div *ngFor="let article of articles">
  {{article.title}}<br>
  {{article.date}}<br>
  
  
  
  <a routerLink="article/{{article.id}}" >Lire l'article</a>
</div>
<h2>Créer un nouvel article : </h2>
<form (ngSubmit)="addArticle()">
  <label for="title">Titre</label><br>
  <input type="text" name="title" id="title" [(ngModel)]="articleToCreate.title"><br>

  <label for="text">Contenu</label><br>
  <input type="text" name="text" id="text" [(ngModel)]="articleToCreate.text"><br>

  <label for="image">lien vers l'image</label><br>
  <input type="text" name="image" id="image" [(ngModel)]="articleToCreate.image" ><br>
  <input type="submit" value="Valider">

</form>
